*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color:#FFEFDD ;

}

.navbar{
    height: 89px;
    width: 1224px;
    border-radius: 20px;
    background: #ffffff;
    border: 1px solid #ff9000;
    margin-left: 158px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  0px 1px 5px #ff9000;
}

.searchbar{
    height: 50px;
    width: 222px;
    border-radius: 10px;
    border: 1px solid #ff9000 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: 0;
    outline: none;
}

ul , li {
    display: inline;
    list-style: none;
    margin-top: 30px;
    margin-left: 15px;
}

.signup button{
    height: 40px;
    width: 86px;
    border-radius: 5px;
    color: white;
    background-color: #ff9000;
    border:none;
    margin-left: 40px;
}

.login button{
    height: 40px;
    width: 86px;
    border-radius: 5px;
    border: 1px solid #0BC64D;
    color: #0BC64D;
    margin-right: 40px;
}

.main-section{
    width: 1224px;
    margin-left: 158px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-text p{
    font-family: kumbh sans;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.6px;
    color: #191919;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 597px;
}

.main-btn{
    display: flex;
    justify-content: space-evenly;
}
.enroll-course button{
    height: 50px;
    width: 220px;
    border-radius: 10px;
    background-color: #ff9300;
    color: white;
    font-size: 20px;
    border: none;
    margin-left: -55px;
}
.pool-campus button{
    height: 50px;
    width: 220px;
    border-radius: 10px;
    color: #0BC64D;
    font-size: 20px;
    border: 2px solid #0BC64D;
    margin-right:40px;
}

.main-image{
    padding-left: 100px;
}

.page-rating{
    width: 900px;
    margin-left: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.carrer-transformation{
    height: 81px;
    width: 231px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.insitutue-connect{
    height: 81px;
    width: 231px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.average-salary{
    height: 81px;
    width: 231px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.salary-logo{
    margin-left: 19px;
    margin-right: 10px;
}
.rating-p{
    font-size: 15px;
    line-height: 15px;
    font-weight: 400px;
}

.ranked{
    width: 1224px;
    margin-left: 258px;
    margin-top: 20px;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.top-ranked{
    font-family: lato;
    font-size: 45px;
    line-height: 54px;
    font-weight: 500;
    color:black;
    margin-left: 40px;
}

.institute{
    font-family: lato;
    font-size: 45px;
    line-height: 54px;
    font-weight: 500;
    color:#21ba86;
    margin-left: 10px;

}

@keyframes slide {
    0% {
        transform: translateX(0); 
    }
    25% {
        transform: translateX(25%); 
    }
    50% {
        transform: translateX(50%);
    }
    75% {
        transform: translateX(75%);
    }
    100% {
        transform: translateX(100%);
    }
}
.slider{
    display: flex;
    width: 1224px;
    animation: slide 15s linear infinite;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slider-container {
    width: 1224px;
    margin-left: 158px;
    overflow: hidden;
}
.slider img {
    object-fit: cover;
}


.courses{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
.preplacement , .courses{
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    font-family: lato;
    margin-right: 10px;

}

.course-type{
    height: 44px;
    width: 1224px;
    font-size: 15px;
    margin-left: 158px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

}

.popular-program{
    background-color: #21ba86;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    color: white;
    margin-bottom: 20px;
}
.line{
    height: 1px;
    width: 1224px;
    margin-left: 158px;
    background-color: black;
    
}

.course-java,.course-python ,.course-javascript,.course-c,.course-html,.course-css{
    height: 515px;
    width: 395px;
    border-radius: 20px;
    border: 1px solid #00A773;
}
.java-title , .python-title,.javascript-title ,.c-title ,.html-title ,.css-title{
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #000000;
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.view-program{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-program button{
    height: 50px;
    width: 179px;
    border-radius: 7px;
    border-color: #ff9000;
    color: #ff9000;
    border: 2px solid;
    font-size: 22px;
}

.course-view , .view-course2{
    width: 1224px;
    margin-left: 158px;
    margin-top: 20px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.explore-button{
    display: flex;
    margin-top: 12px;
    margin-bottom: 55px;
    align-items: center;
    justify-content: center;
}
.explore-button button{
    height: 49px;
    width: 179px;
    border-radius: 5px;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
}

.about-industry{
    height: 327px;
    width: 1513px;
    background-color: #00A773;
}
.years{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 20px;
}

.industry-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.number{
    height: 100px;
    width: 250px;
    margin-top: 30px;
    margin-left: 50px;
}
.academic-partner{
    height:100px;
    width: 250px;
    margin-top: 100px;
}
.domains{
    height: 100px;
    width: 250px;
    margin-top: 30px;
    
}
.corporate{
    height: 100px;
    width: 250px;
    margin-top: 100px;
    margin-right: 150px;
}

.upcoming-drives{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;
}

.tech-horizons , .carrer-drive , .engineering-hiring{
    height: 479px;
    width: 388px;
    border-radius: 20px;
    border: 1px solid #FF9000;
    background-image: url(./assets/drive1.png);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 1px #FF9000;
}
.tech{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #00855c;
    margin-top:20px;
    align-self: center;
}
.focus{
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    align-self: center;
    margin-top: 20px;
}
.contant p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 15px;
}
.event-button{
    height: 50px;
    width: 149px;
    border-radius:10px;
    font-size: 25px;
    color: #FD8600;
    border: 2px dotted #FD8600;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.drive-option{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.review{
    height: 680px;
    width: 1513px;
    background-color: #b2e3d3;
}
.review-heading{
    font-size: 45px;
    font-weight: 500;
    color: #080808;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.review1 , .review2{
    height: 304px;
    width: 592px;
    margin-top: 70px;
    border-radius: 20px;
    background-color: #F9FCFF;
    box-shadow: 0px 0px 10px 4px #21ba8c;
}
.review-text{
    height:154px;
    width: 491px;
    font-size: 18px;
    line-height: 22.32px;
    text-align: left;
    margin-left: 40px;
    padding-top: 25px;
}
.review-image{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    gap: 10px;
}
.review-column{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.left-button , .right-button{
    width: 33.3px;
    height: 33.3px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    width: 140px;
    height: 10px;
    border-radius: 8px;
    background-color: #FFB664;
}
.fill-bar{
    width: 38px;
    height: 10px;
    border-radius: 8px;
    background-color: #FF9000;
}
.review-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 20px;
}

footer{
    height: 306px;
    background-color:#282828;
    display: flex;
    justify-content: space-evenly;
}
.footer-logo{
    margin-top: 70px;
}
.footer-button{
    display: flex;
    gap: 10px;
}
.footer-button1 , .footer-button2{
    height: 33px;
    width: 147px;
    border-radius: 10px;
    background-color:#FF9300;
    color:#ffffff;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.ul , .li{
    color: white;
    display:flex;
    flex-direction: column;
    margin-bottom: -15px;
}